#placeholder {
  z-index: 0;
  position: float;
  opacity: 0;
  
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-items {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor:pointer;
}

#login-form, #registration-form {
  text-align: center;
  width: 100%;
  color: #374d70;
  transform: scale(1.2);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#error-message {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 .table-name {
  text-align: center;
 }

 #notecardGrid, #deckGrid, #cardGrid {
  margin: 0 5% 0 5%;
 }


 #create-card, #addCardSelect, .cardField, .deckField {
  margin-left: 5%;
 }
 
 .adminField, .adminError {
  margin-left: 10%;
 }

.img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;  
  position: relative;
}
.img-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

}
.app-logo{
  grid-column: 1;
  grid-row: 1 / -1;      
  align-self: center;    
  width: 200px;
}

.app-frame{
  grid-column: 1;
  grid-row: 1 / -1;
  justify-self: center;
  align-self: center;
  padding-bottom: 15%;
}


@media (prefers-reduced-motion: no-preference) {
  .app-frame {
    animation: App-logo-spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1000ms;
    transform-origin:50px 40px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#registration-form {
  margin-top: 2%;
}

.registration-title{
  color: #374d70;
  text-align: center;
}

.create-title {
  color: #374d70;
  text-align: center;
  margin-top: 2%;
}

#card-create {
  text-align: center;
}

#createButton {
  margin-top: 2%;
}

.card {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

.qControl {
  color: #374d70;
}

.cardError {
  margin-left: 5%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}